# Lab 1 - Used Cars in the USA
#### By: David Wei, Sophia Wu, Dhruba Dey, Queena Wang

#### Summary:
asdfasdfasdf

#### Description:
asdfasdfas

In [1]:
#importing libraries and reading in file
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore') #ignoring warnings

In [2]:
#import datafile from github repo
df_raw = pd.read_csv('https://raw.githubusercontent.com/chee154/ml-Py-used_cars/main/data/kaggle_used_cars_data.csv')

In [3]:
print("Total # of Records: " + str(df_raw.shape[0]))
print("Total # of Columns: " + str(df_raw.shape[1]))

Total # of Records: 30000
Total # of Columns: 66

#### Reducing Dataset Attributes
The total dataset has about 66 total columns. After a quick observation of the column headers, we can deduce that not all columns will be necessary for our analysis. Reasons for removing them below:

...

In [4]:
#subsetting columns by referencing the column indexes
df_cln_1 = df_raw.iloc[:, np.r_[5:8, 10, 13:16, 22:24, 26:27, 36:37, 42:49, 55:57, 65]]
print("final # of columns: "+str(df_cln_1.shape[1]))

final # of columns: 21

In [5]:
#doing a quick profile on the subsetted columns
print(df_cln_1.dtypes)
print("------------------------------------------------")
print(df_cln_1.describe())

body_type                object
cabin                    object
city                     object
daysonmarket              int64
engine_cylinders         object
engine_displacement     float64
engine_type              object
fuel_tank_volume         object
fuel_type                object
highway_fuel_economy    float64
listed_date              object
make_name                object
maximum_seating          object
mileage                 float64
model_name               object
owner_count             float64
power                    object
price                   float64
torque                   object
transmission             object
year                      int64
dtype: object
------------------------------------------------
       daysonmarket  engine_displacement  highway_fuel_economy        mileage  \
count  30000.000000         28227.000000          25067.000000   28628.000000
mean      75.603600          2972.352712             29.466310   31169.266487
std      108.743797          1349.350837              7.826778   45224.927636
min        0.000000           700.000000             12.000000       0.000000
25%       14.000000          2000.000000             25.000000       6.000000
50%       36.000000          2500.000000             29.000000    8598.500000
75%       80.000000          3600.000000             33.000000   43846.000000
max     2227.000000          8100.000000            127.000000  369016.000000

        owner_count          price          year
count  14900.000000   30000.000000  30000.000000
mean       1.537047   29854.286763   2017.675100
std        0.920585   18620.579826      4.303064
min        1.000000     484.000000   1941.000000
25%        1.000000   18289.500000   2017.000000
50%        1.000000   26366.500000   2020.000000
75%        2.000000   37985.000000   2020.000000
max       12.000000  432925.000000   2021.000000

#### Data Cleaning - Datatypes
Obviously at this point we need to convert a few of our data columns to the appropriate data type by removing parts of the value string that we do not need such as "gal" in the ful_tank_volume

In [6]:
#profiling class types:
for col in ['engine_cylinders', 'engine_type','fuel_tank_volume','maximum_seating']:
        print(df_cln_1[col].unique())

['V6' 'I4' nan 'V8' 'H4' 'H6' 'I6' 'V6 Flex Fuel Vehicle'
 'V8 Flex Fuel Vehicle' 'I3' 'I6 Diesel' 'V6 Diesel' 'I4 Hybrid' 'V10'
 'I5' 'I2' 'I4 Diesel' 'V8 Biodiesel' 'V8 Diesel' 'I4 Flex Fuel Vehicle'
 'V6 Biodiesel' 'V12' 'V6 Hybrid' 'V8 Hybrid' 'W12' 'H4 Hybrid'
 'I5 Diesel']
['V6' 'I4' nan 'V8' 'H4' 'H6' 'I6' 'V6 Flex Fuel Vehicle'
 'V8 Flex Fuel Vehicle' 'I3' 'I6 Diesel' 'V6 Diesel' 'I4 Hybrid' 'V10'
 'I5' 'I2' 'I4 Diesel' 'V8 Biodiesel' 'V8 Diesel' 'I4 Flex Fuel Vehicle'
 'V6 Biodiesel' 'V12' 'V6 Hybrid' 'V8 Hybrid' 'W12' 'H4 Hybrid'
 'I5 Diesel']
['26 gal' '10.8 gal' '21 gal' nan '19 gal' '19.3 gal' '13.5 gal'
 '12.7 gal' '--' '18 gal' '15.3 gal' '18.5 gal' '19.4 gal' '14.2 gal'
 '13.2 gal' '24 gal' '28 gal' '15.1 gal' '16.2 gal' '22.5 gal' '16.4 gal'
 '14 gal' '15.8 gal' '12.4 gal' '15.9 gal' '18.8 gal' '27.8 gal'
 '19.5 gal' '15.6 gal' '15.5 gal' '14.5 gal' '19.2 gal' '18.6 gal'
 '8.9 gal' '48 gal' '16.6 gal' '22.4 gal' '17.4 gal' '24.6 gal' '21.1 gal'
 '14.7 gal' '20.1 gal' '35 gal' '32 gal' '11.9 gal' '22 gal' '17.1 gal'
 '14.8 gal' '23 gal' '14.9 gal' '23.3 gal' '21.9 gal' '17.3 gal'
 '26.4 gal' '13.7 gal' '14.4 gal' '12.8 gal' '16 gal' '2.4 gal' '7 gal'
 '14.6 gal' '17.5 gal' '18.1 gal' '20 gal' '16.9 gal' '17.9 gal'
 '23.6 gal' '23.7 gal' '10.6 gal' '13 gal' '15.7 gal' '11.4 gal' '9 gal'
 '14.3 gal' '17 gal' '36 gal' '28.3 gal' '31 gal' '34 gal' '21.7 gal'
 '20.6 gal' '16.5 gal' '18.3 gal' '15.4 gal' '12.2 gal' '13.6 gal'
 '20.4 gal' '15 gal' '17.2 gal' '23.8 gal' '30 gal' '21.5 gal' '27.6 gal'
 '19.8 gal' '25.1 gal' '20.3 gal' '16.3 gal' '24.5 gal' '16.1 gal'
 '33.5 gal' '17.7 gal' '21.8 gal' '21.4 gal' '19.1 gal' '10.5 gal'
 '40 gal' '25 gal' '11.1 gal' '18.4 gal' '9.3 gal' '22.2 gal' '27.7 gal'
 '29 gal' '11.3 gal' '20.5 gal' '8.7 gal' '9.2 gal' '63.5 gal' '17.8 gal'
 '16.8 gal' '27 gal' '11.8 gal' '25.4 gal' '9.5 gal' '11 gal' '38 gal'
 '11.6 gal' '52 gal' '23.5 gal' '12.1 gal' '22.7 gal' '12 gal' '1.9 gal'
 '7.7 gal' '2.3 gal' '17.6 gal' '12.6 gal' '10 gal' '33 gal' '30.5 gal'
 '15.2 gal' '27.3 gal' '21.6 gal' '39 gal' '24.3 gal' '20.2 gal'
 '31.5 gal' '44 gal' '23.2 gal']
['6 seats' '5 seats' '7 seats' nan '4 seats' '8 seats' '2 seats' '3 seats'
 '9 seats' '15 seats' '10 seats' '12 seats' '--']

After doing a quick profiling on some our identified columsn, we can see that both engine_cylinders and engine_type are the same. Additionally, we also found that the prefixes and suffixes attached to them are descriptive of it and thus not a continuous value. 

Regarding fuel_tank_volume and maximum_seating, we can see that there appears to be a pattern in the suffixes, "gal" and "seats" accordingly. We will now remove them and then convert all values to numeric.

In [7]:
#removing unecesary string values in columns
#then cleaning up any values that contain '--' and replacing it with NaN
#Lastly, converting the value first to a string type and then to a float type

df_cln_1['fuel_tank_volume']=df_cln_1['fuel_tank_volume'].str.replace(' gal', '').replace('--',np.NaN).astype(str).astype(float)
df_cln_1['maximum_seating']=df_cln_1['maximum_seating'].str.replace(' seats', '').replace('--',np.NaN).astype(str).astype(float)

In [8]:
#fixing date type values from object type to date time
print("before date fix: "+str(df_cln_1['listed_date'].head(2)))

df_cln_1['listed_date']=pd.to_datetime(df_cln_1['listed_date'])
print(df_cln_1['listed_date'].dtypes)

before date fix: 0    2020-08-15
1    2020-02-14
Name: listed_date, dtype: object
datetime64[ns]

In [9]:
#doing a quick profile on the subsetted columns
print(df_cln_1.dtypes)

body_type                       object
cabin                           object
city                            object
daysonmarket                     int64
engine_cylinders                object
engine_displacement            float64
engine_type                     object
fuel_tank_volume               float64
fuel_type                       object
highway_fuel_economy           float64
listed_date             datetime64[ns]
make_name                       object
maximum_seating                float64
mileage                        float64
model_name                      object
owner_count                    float64
power                           object
price                          float64
torque                          object
transmission                    object
year                             int64
dtype: object

We can now see that all of our column values have been adjusted to the correct datatypes. We will next proceed with cleaning up the values of our data. Since pandas default all 'object' types as strings, we will not need to convert these attribute types and can leave them as is.

#### Data Cleaning - Data Values & NULLs
Obviously at this point we need to convert a few of our data columns to the appropriate data type by removing parts of the value string that we do not need such as "gal" in the ful_tank_volume

In [ ]:
# finding all columns that have null values
for i in df_cln_1.columns:
    df_cln_1[i].isnull().any()
    print(i)