In [2]:
#importing libraries and reading in file
import pandas as pd
import numpy as np

df_raw = pd.read_csv('https://raw.githubusercontent.com/chee154/ml-Py-used_cars/main/data/kaggle_used_cars_data.csv')
df_raw.head(2)

,vin,back_legroom,bed,bed_height,bed_length,body_type,cabin,city,city_fuel_economy,combine_fuel_economy,...,transmission,transmission_display,trimId,trim_name,vehicle_damage_category,wheel_system,wheel_system_display,wheelbase,width,year
0,1FTEW1CP3LFC52880,43.6 in,NaN,--,67.1 in,Pickup Truck,NaN,Huntsville,20.0,NaN,...,A,Automatic,t87709,XL SuperCrew RWD,NaN,4X2,4X2,145 in,96.8 in,2020
1,3N1CP5CV6LL501109,33.2 in,NaN,NaN,NaN,SUV / Crossover,NaN,Opelousas,31.0,NaN,...,CVT,Continuously Variable Transmission,t90150,SV FWD,NaN,FWD,Front-Wheel Drive,103.1 in,69.3 in,2020

In [45]:
#subsetting columns
df_rm_clmn = df_raw.iloc[:, np.r_[5:8, 10, 13:16, 22:24, 26:27, 36:37, 42:49, 55:57, 65]]
df_rm_clmn.head(2)

,body_type,cabin,city,daysonmarket,engine_cylinders,engine_displacement,engine_type,fuel_tank_volume,fuel_type,highway_fuel_economy,...,make_name,maximum_seating,mileage,model_name,owner_count,power,price,torque,transmission,year
0,Pickup Truck,NaN,Huntsville,26,V6,3500.0,V6,26 gal,Gasoline,26.0,...,Ford,6 seats,26.0,F-150,NaN,"395 hp @ 5,750 RPM",39502.0,"400 lb-ft @ 4,500 RPM",A,2020
1,SUV / Crossover,NaN,Opelousas,210,I4,1600.0,I4,10.8 gal,Gasoline,36.0,...,Nissan,5 seats,12.0,Kicks,NaN,"122 hp @ 6,300 RPM",22210.0,"114 lb-ft @ 4,000 RPM",CVT,2020

In [47]:
#validating data types of subsetted columns
df_rm_clmn.dtypes

body_type                object
cabin                    object
city                     object
daysonmarket              int64
engine_cylinders         object
engine_displacement     float64
engine_type              object
fuel_tank_volume         object
fuel_type                object
highway_fuel_economy    float64
listed_date              object
make_name                object
maximum_seating          object
mileage                 float64
model_name               object
owner_count             float64
power                    object
price                   float64
torque                   object
transmission             object
year                      int64
dtype: object

In [48]:
# not only the numerical types are being displayed. We need to fix the other ones.
df_rm_clmn.describe()

,daysonmarket,engine_displacement,highway_fuel_economy,mileage,owner_count,price,year
count,30000.000000,28227.000000,25067.000000,28628.000000,14900.000000,30000.000000,30000.000000
mean,75.603600,2972.352712,29.466310,31169.266487,1.537047,29854.286763,2017.675100
std,108.743797,1349.350837,7.826778,45224.927636,0.920585,18620.579826,4.303064
min,0.000000,700.000000,12.000000,0.000000,1.000000,484.000000,1941.000000
25%,14.000000,2000.000000,25.000000,6.000000,1.000000,18289.500000,2017.000000
50%,36.000000,2500.000000,29.000000,8598.500000,1.000000,26366.500000,2020.000000
75%,80.000000,3600.000000,33.000000,43846.000000,2.000000,37985.000000,2020.000000
max,2227.000000,8100.000000,127.000000,369016.000000,12.000000,432925.000000,2021.000000

Obviously at this point we need to convert a few of our data columns to the appropriate data type by removing parts of the value string that we do not need such as "gal" in the ful_tank_volume

In [58]:
#profiling class types:
a = df_rm_clmn['engine_cylinders'].unique()
b= df_rm_clmn['engine_type'].unique()

print(a)
print("---")
print(b)

['V6' 'I4' nan 'V8' 'H4' 'H6' 'I6' 'V6 Flex Fuel Vehicle'
 'V8 Flex Fuel Vehicle' 'I3' 'I6 Diesel' 'V6 Diesel' 'I4 Hybrid' 'V10'
 'I5' 'I2' 'I4 Diesel' 'V8 Biodiesel' 'V8 Diesel' 'I4 Flex Fuel Vehicle'
 'V6 Biodiesel' 'V12' 'V6 Hybrid' 'V8 Hybrid' 'W12' 'H4 Hybrid'
 'I5 Diesel']
---
['V6' 'I4' nan 'V8' 'H4' 'H6' 'I6' 'V6 Flex Fuel Vehicle'
 'V8 Flex Fuel Vehicle' 'I3' 'I6 Diesel' 'V6 Diesel' 'I4 Hybrid' 'V10'
 'I5' 'I2' 'I4 Diesel' 'V8 Biodiesel' 'V8 Diesel' 'I4 Flex Fuel Vehicle'
 'V6 Biodiesel' 'V12' 'V6 Hybrid' 'V8 Hybrid' 'W12' 'H4 Hybrid'
 'I5 Diesel']

In [ ]:
df[]