# Lab 1 - Used Cars in the USA
#### By: David Wei, Sophia Wu, Dhruba Dey, Queena Wang

#### Summary:
asdfasdfasdf

#### Description:
asdfasdfas

In [ ]:
#pip install missingno

In [1]:
#importing libraries and reading in file
import pandas as pd
import numpy as np
import warnings
import missingno as msno
warnings.filterwarnings('ignore') #ignoring warnings

In [ ]:
# NOTE: need to change file per user
df_raw = pd.read_csv(r'C:\Data\used_cars_data.csv')

In [ ]:
df_raw_full.describe()

In [ ]:
print("Total # of Records: " + str(df_raw_full.shape[0]))
print("Total # of Columns: " + str(df_raw_full.shape[1]))

In [ ]:
print(df)

In [ ]:
msno.matrix(df_cln_1)
msno.heatmap(df_cln_1)

In [ ]:
print("Total # of Records: " + str(df_raw.shape[0]))
print("Total # of Columns: " + str(df_raw.shape[1]))

#### Reducing Dataset Attributes
The total dataset has about 66 total columns. After a quick observation of the column headers, we can deduce that not all columns will be necessary for our analysis. Reasons for removing them below:

...

In [ ]:
#subsetting columns by referencing the column indexes
df_cln_1 = df_raw_full.iloc[:, np.r_[0,5,8:11,13:17,18:21,22:30,32,35:38,42:50,51,55:57,61:63,64:66]]
print("final # of columns: "+str(df_cln_1.shape[1]))


print(df_cln_1.shape[1])
print(df_cln_1.info())

In [ ]:
#doing a quick profile on the subsetted columns
print(df_cln_1.dtypes)
print("------------------------------------------------")
print(df_cln_1.describe())

#### Data Cleaning - Datatypes
Obviously at this point we need to convert a few of our data columns to the appropriate data type by removing parts of the value string that we do not need such as "gal" in the ful_tank_volume

In [ ]:
#profiling class types:
for col in ['engine_cylinders', 'engine_type','fuel_tank_volume','maximum_seating']:
        print(df_cln_1[col].unique())

After doing a quick profiling on some our identified columsn, we can see that both engine_cylinders and engine_type are the same. Additionally, we also found that the prefixes and suffixes attached to them are descriptive of it and thus not a continuous value. 

Regarding fuel_tank_volume and maximum_seating, we can see that there appears to be a pattern in the suffixes, "gal" and "seats" accordingly. We will now remove them and then convert all values to numeric.

In [ ]:
#removing unecesary string values in columns
#then cleaning up any values that contain '--' and replacing it with NaN
#Lastly, converting the value first to a string type and then to a float type

df_cln_1['fuel_tank_volume']=df_cln_1['fuel_tank_volume'].str.replace(' gal', '').replace('--',np.NaN).astype(str).astype(float)
df_cln_1['maximum_seating']=df_cln_1['maximum_seating'].str.replace(' seats', '').replace('--',np.NaN).astype(str).astype(float)
df_cln_1['maximum_seating']=df_cln_1['maximum_seating'].str.replace(' seats', '').replace('--',np.NaN).astype(str).astype(float)

In [ ]:
#fixing date type values from object type to date time
print("before date fix: "+str(df_cln_1['listed_date'].head(2)))

df_cln_1['listed_date']=pd.to_datetime(df_cln_1['listed_date'])
print(df_cln_1['listed_date'].dtypes)

In [ ]:
#doing a quick profile on the subsetted columns
print(df_cln_1.dtypes)

In [ ]:
print(df_cln_1['franchise_dealer'].unique())
print(df_cln_1['daysonmarket'].describe())
print(np.var(df_cln_1['daysonmarket']))

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.rcParams['agg.path.chunksize'] = 10000
df = pd.DataFrame(df_cln_1,columns=['daysonmarket','price'])
df.plot(x ='daysonmarket', y='price', kind = 'line')
plt.show()

We can now see that all of our column values have been adjusted to the correct datatypes. We will next proceed with cleaning up the values of our data. Since pandas default all 'object' types as strings, we will not need to convert these attribute types and can leave them as is.

#### Data Cleaning - Data Values & NULLs
Obviously at this point we need to convert a few of our data columns to the appropriate data type by removing parts of the value string that we do not need such as "gal" in the ful_tank_volume

In [ ]:
# finding all columns that have null values
for i in df_cln_1.columns:
    df_cln_1[i].isnull().any()
    print(i)

In [ ]:
#visualizing the 
msno.matrix(df_cln_1)