# Lab 1 - Used Cars in the USA
#### By: David Wei, Sophia Wu, Dhruba Dey, Queena Wang

### Summary:
asdfasdfasdf

### Description:
asdfasdfas

In [ ]:
#importing libraries and reading in file
import pandas as pd
import numpy as np

df_raw = pd.read_csv('https://raw.githubusercontent.com/chee154/ml-Py-used_cars/main/data/kaggle_used_cars_data.csv')
df_raw.head(2)

In [ ]:
#subsetting columns
df_cln_1 = df_raw.iloc[:, np.r_[5:8, 10, 13:16, 22:24, 26:27, 36:37, 42:49, 55:57, 65]]
df_cln_1.head(2)

In [ ]:
#validating data types of subsetted columns
df_cln_1.dtypes

In [96]:
# not only the numerical types are being displayed. We need to fix the other ones.
df_cln_1.describe()

,daysonmarket,engine_displacement,highway_fuel_economy,mileage,owner_count,price,year
count,30000.000000,28227.000000,25067.000000,28628.000000,14900.000000,30000.000000,30000.000000
mean,75.603600,2972.352712,29.466310,31169.266487,1.537047,29854.286763,2017.675100
std,108.743797,1349.350837,7.826778,45224.927636,0.920585,18620.579826,4.303064
min,0.000000,700.000000,12.000000,0.000000,1.000000,484.000000,1941.000000
25%,14.000000,2000.000000,25.000000,6.000000,1.000000,18289.500000,2017.000000
50%,36.000000,2500.000000,29.000000,8598.500000,1.000000,26366.500000,2020.000000
75%,80.000000,3600.000000,33.000000,43846.000000,2.000000,37985.000000,2020.000000
max,2227.000000,8100.000000,127.000000,369016.000000,12.000000,432925.000000,2021.000000

Obviously at this point we need to convert a few of our data columns to the appropriate data type by removing parts of the value string that we do not need such as "gal" in the ful_tank_volume

In [ ]:
#profiling class types:
for col in ['engine_cylinders', 'engine_type','fuel_tank_volume','maximum_seating']:
        print(df_cln_1[col].unique())

After doing a quick profiling on some our identified columsn, we can see that both engine_cylinders and engine_type are the same. Additionally, we also found that the prefixes and suffixes attached to them are descriptive of it and thus not a continuous value. 

Regarding fuel_tank_volume and maximum_seating, we can see that there appears to be a pattern in the suffixes, "gal" and "seats" accordingly. We will now remove them and then convert all values to numeric.

In [ ]:
# removing unecesary string values in columns
df_cln_1['fuel_tank_volume']=df_cln_1['fuel_tank_volume'].str.replace(' gal', '')
df_cln_1['maximum_seating']=df_cln_1['maximum_seating'].str.replace(' seats', '')

df_cln_1.head(10)

In [ ]:
print("Total # of Records: " + str(df_cln_1.shape[0]))
print("Total # of Columns: " + str(df_cln_1.shape[1]))