# Lab 1 - Used Cars in the USA
#### By: David Wei, Sophia Wu, Dhruba Dey, Queena Wang

#### Summary:
asdfasdfasdf

#### Description:
asdfasdfas

In [ ]:
#pip install missingno

In [ ]:
#importing libraries and reading in file
import pandas as pd
import numpy as np
import warnings
import missingno as msno
warnings.filterwarnings('ignore') #ignoring warnings

In [ ]:
# NOTE: need to change file per user
#df_raw = pd.read_csv(r'C:\Data\used_cars_data.csv')
df_raw = pd.read_csv('https://raw.githubusercontent.com/chee154/ml-Py-used_cars/main/data/kaggle_used_cars_data.csv')

In [ ]:
df_raw.head(5)

In [ ]:
print("Total # of Records: " + str(df_raw.shape[0]))
print("Total # of Columns: " + str(df_raw.shape[1]))

#### Reducing Dataset Attributes
The total dataset has about 66 total columns. After a quick observation of the column headers, we can deduce that not all columns will be necessary for our analysis. Reasons for removing them below:

...

In [ ]:
#subsetting columns by referencing the column indexes
df_cln_1 = df_raw.iloc[:, np.r_[0,5,7:11,13:17,18:21,22:30,32,35:38,42:50,51,55:57,61:63,64:66]]
print(df_cln_1.info())

In [ ]:
msno.matrix(df_cln_1)

In [ ]:
# removing city_fuel_economy since a quick vizualition of our dataset shows that ALL values are empty
df_cln_2 = df_cln_1.drop(columns='combine_fuel_economy')
print(df_cln_2.shape[1])

#### Data Cleaning - Datatypes
Obviously at this point we need to convert a few of our data columns to the appropriate data type by removing parts of the value string that we do not need such as "gal" in the ful_tank_volume

In [ ]:
#finding all unique values per column to see what values we need to clean
columns_that_need_cleaning = ['engine_type','exterior_color','frame_damaged','franchise_dealer','franchise_make','fuel_tank_volume','fuel_type','has_accidents','height','interior_color','isCab','is_new','length','listed_date','listing_color','make_name','maximum_seating','model_name','power','salvage','torque','transmission','wheel_system','wheel_system_display','width']
for col in columns_that_need_cleaning:
        print(df_cln_2[col].unique())

In [ ]:
#observing if 'engine_cylinders','engine_type' is the same data
if df_cln_2['engine_cylinders'].equals(df_cln_2['engine_type']) == True:
    df_cln_2 = df_cln_2.drop(columns='engine_cylinders')
    print(df_cln_2.shape[1])

After doing a quick profiling on some our identified columsn, we can see that both engine_cylinders and engine_type are the same. Additionally, we also found that the prefixes and suffixes attached to them are descriptive of it and thus not a continuous value. 

Regarding fuel_tank_volume and maximum_seating, we can see that there appears to be a pattern in the suffixes, "gal" and "seats" accordingly. We will now remove them and then convert all values to numeric.

In [ ]:
#finding all unique values per column to see what values we need to clean
columns_that_need_cleaning_2 = ['fuel_tank_volume','height','length','maximum_seating','width',]
for col in columns_that_need_cleaning_2:
        print(df_cln_2[col].unique())

In [25]:
#removing unecesary string values in columns
#then cleaning up any values that contain '--' and replacing it with NaN
#Lastly, converting the value first to a string type and then to a float type

df_cln_2['fuel_tank_volume']=df_cln_2['fuel_tank_volume'].astype(str).str.replace(' gal', '').replace('--',np.NaN).astype(float)
df_cln_2['height']=df_cln_2['height'].astype(str).str.replace(' in', '').replace('--',np.NaN).astype(float)
df_cln_2['length']=df_cln_2['height'].astype(str).str.replace(' in', '').replace('--',np.NaN).astype(float)
df_cln_2['maximum_seating']=df_cln_2['maximum_seating'].astype(str).str.replace(' seats', '').replace('--',np.NaN).astype(float)
df_cln_2['width']=df_cln_1['width'].astype(str).str.replace(' in', '').replace('--',np.NaN).astype(float)

In [36]:
#fixing date type values from object type to date time
df_cln_2['listed_date']=pd.to_datetime(df_cln_2['listed_date'])
print(df_cln_2['listed_date'].dtypes)

datetime64[ns]

In [37]:
#doing a quick profile on the subsetted columns
print(df_cln_2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 38 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   vin                   30000 non-null  object
 1   body_type             29851 non-null  object
 2   city                  30000 non-null  object
 3   city_fuel_economy     25067 non-null  float64
 4   daysonmarket          30000 non-null  int64
 5   engine_displacement   28227 non-null  float64
 6   engine_type           28994 non-null  object
 7   exterior_color        30000 non-null  object
 8   frame_damaged         15820 non-null  object
 9   franchise_dealer      30000 non-null  bool
 10  franchise_make        24272 non-null  object
 11  fuel_tank_volume      28339 non-null  float64
 12  fuel_type             29156 non-null  object
 13  has_accidents         15820 non-null  object
 14  height                28359 non-null  float64
 15  highway_fuel_economy  25067 non-null  float64
 16  horsepower            28227 non-null  float64
 17  interior_color        29998 non-null  object
 18  isCab                 15820 non-null  object
 19  is_new                30000 non-null  bool
 20  length                28359 non-null  float64
 21  listed_date           30000 non-null  datetime64[ns]
 22  listing_color         30000 non-null  object
 23  make_name             30000 non-null  object
 24  maximum_seating       28359 non-null  float64
 25  mileage               28628 non-null  float64
 26  model_name            30000 non-null  object
 27  owner_count           14900 non-null  float64
 28  power                 25198 non-null  object
 29  price                 30000 non-null  float64
 30  salvage               15820 non-null  object
 31  seller_rating         29599 non-null  float64
 32  torque                24855 non-null  object
 33  transmission          29363 non-null  object
 34  wheel_system          28476 non-null  object
 35  wheel_system_display  28476 non-null  object
 36  width                 28359 non-null  float64
 37  year                  30000 non-null  int64
dtypes: bool(2), datetime64[ns](1), float64(13), int64(2), object(20)
memory usage: 8.3+ MB
None

We can now see that all of our column values have been adjusted to the correct datatypes. We will next proceed with cleaning up the values of our data. Since pandas default all 'object' types as strings, we will not need to convert these attribute types and can leave them as is.

#### Data Cleaning - Data Values & NULLs
Obviously at this point we need to convert a few of our data columns to the appropriate data type by removing parts of the value string that we do not need such as "gal" in the ful_tank_volume

In [ ]:
# finding all columns that have null values
for i in df_cln_1.columns:
    df_cln_1[i].isnull().any()
    print(i)

In [ ]:
#visualizing the 
msno.matrix(df_cln_1)